.chin-gen-calc-super-container {
    font-size: calc(var(--mobFontSize_H2) - 1%);
}

.chin-gen-calc-input-container {
    padding: 6px;
}

.chin-gen-calc-input-container select {
    border-color: rgba(var(--mainColor));
}

.chin-gen-calc-button-container {
    text-align: center;
}

#btn_Submit_ChinGenCalc_Right {
    background: rgba(var(--shadowColor));
    width: 100%;
    font-family: var(--fontFamilyName) Bold, Arial, Helvetica, sans-serif !important;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.chin-calc-heading {
    display: block;
    font-size: calc(var(--mobFontSize_H2) - 1%) !important;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.chin-calc-description  {
    font-size: calc(16px - 1%) !important;
}

.chin-calc-result {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* padding: 12px; */
    background-color: white;
}

.chin-calc-result-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-self: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    color: white;
    font-size: calc(var(--mobFontSize_componentTitle) - 1%);
}

.chin-calc-result-content #chin-calc-day-container,
.chin-calc-result-content #chin-calc-date-container {
    font-size: calc(var(--mobFontSize_H2) - 1%);
    font-weight: bold;
}

.chin-calc-result-bg-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: white;
    width: 100%;
}

.chin-calc-result-bg-content-container img {
    width: 50%;
    max-width: 250px;
}

.chin-gen-calc-result-button-container {
    width: 100%;
    padding: 0 !important;
}

#chin-calc-result-bg-image-container {
    position: relative;
}

#chin-calc-result-return-button {
    display: inline-block;
    min-width: 100px;
    width: 100%;
    margin-top: 24px !important;
    margin: 0;
    background: rgb(var(--shadowColor));
    font-size: 16px;
    color: rgb(var(--mainLightColor)) !important;
    text-align: center;
    padding: 8px 15px;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
    box-shadow: none;
    outline: none !important;
}

.cnts {
    height: auto !important;
}

.chin-gen-heading {
    font-size: calc(var(--mobFontSize_H1) - 1%) !important;
    background-color: rgba(var(--mainColor), 0.3);
    padding: 3px 6px;
    margin: 12px 6px;
    font-weight: bold;
}

.chin-gen-body {
    margin: 12px 6px;
    font-size: calc(16px - 1%) !important;
}

.chin-calc-notice-container {
    margin-top: 60px;
    padding: 6px;
    background-color: rgba(var(--mainColor), 0.1);
    border: 1px solid rgba(var(--mainColor));
    font-size: calc(16px - 1%) !important;
}

.chin-calc-result-bg-content-container.male {
    background-color: #64D2E9;
}

.chin-calc-result-bg-content-container.female {
    background-color: #F189B0;
}

#chin-calc-result-heading {
    font-size: calc(var(--mobFontSize_H1) - 1%);
    font-weight: bold;
}

#chin-calc-result-body {
    font-size: calc(var(--mobFontSize_H2) - 1%);
    padding: 24px;
}

#chin-calc-result-icon {
    font-size: 72pt;
    padding-top: 60px;
    padding-bottom: 24px;
}

#chin-calc-result-icon.male:before {
    content: "\2642";
}

#chin-calc-result-icon.female:before {
    content: "\2640";
}

.chin-calc-result {
    padding-bottom: 48px;
}

.chin-calc-table-col {
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 300px) {
    .chin-calc-table-col {
        width: 15px;
        height: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .chin-calc-table-col {
        width: 30px;
        height: 30px;
    }
}

.chin-calc-table-col-result {
    opacity: 1.0 !important;
}

.chin-calc-table-col-male {
    background-color: #BCF3FA;
    background-image: url('../../../images/male-icon.png');
}

.chin-calc-table-col-female {
    background-color: #F9BDE1;
    background-image: url('../../../images/female-icon.png');
}